<div class="header">
  <div class="col-md-4 offset-md-4">
    <div class="form-group">
      <div class="input-group">
        <input class="form-control" placeholder="Search" type="text" [(ngModel)]="filmName" (keyup)="searchClient(filmName)" />
      </div>
    </div>
    <div appClickOut (clickOutside)="closeDropDown()">
      <div *ngIf="showDropDown" class="drop-down">
        <div *ngFor="let film of films | async" >
          <div *ngIf="!film.isEmpty">
            <app-card-drop [film]="film"></app-card-drop>
          </div>
          <div *ngIf="film.isEmpty" class="empty-results">
            No Results found
          </div>
        </div>
      </div>
    </div>
  </div>
</div>

